.topLinks {
    padding: 3%;
    width: 40%;
    border-radius: 25px;
    background: white;
}

.subText {
    font-size:15px;
    margin-left: 20px;
}

.top {
    color: #66b5ff;
    margin-left: 20px;
    font-size: 25px;
    margin-top: 5px;
}
